<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue2 sample1 基本语法</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div>
        <p>文本：{{ message }}</p>
        <hr>
        <p>v-html：<span v-html="html"></span></p>
        <hr>
        <p>属性绑定(v-bind)：
            <a v-bind:href="url">v-bind</a>
            <a :href="url">v-bind缩写</a>
            <br>
            单向绑定：<input type="text" :value="value.text1">
            双向绑定：<input type="text" v-model="value.text2">
        </p>
        <hr>
        <p>
            v-if：<span v-if="isShow">显示/隐藏</span>
        </p>
        <hr>
        <p>
            事件绑定(v-on)：
            <button v-on:click="fun1">v-on</button>
            <button @click="fun1">v-on缩写</button>
            <button @click="fun2($event,10)">Button1</button>
        </p>
        <hr>
        <div>
            <p>事件修饰符：</p>
            <!-- 提交事件不再重载页面 -->
            <p>prevent：<a href="https://www.baidu.com/" v-on:click.prevent="fun1">提交事件不再重载页面</a></p>

            <!-- 点击事件将只会触发一次 -->
            <p>
                once：
                <button v-on:click.once="fun1">点击事件将只会触发一次</button>
            </p>

            <!-- 阻止单击事件继续传播 -->
            <p>stop：<a v-on:click.stop="fun1">阻止单击事件继续传播</a></p>

            <!-- 修饰符可以串联 -->
            <p><a v-on:click.stop.prevent="fun1">修饰符可以串联</a></p>

            <!-- 只有修饰符 -->
            <form v-on:submit.prevent>只有修饰符</form>

            <!-- 添加事件监听器时使用事件捕获模式 -->
            <!-- 即内部元素触发的事件先在此处理，然后才交由内部元素进行处理 -->
            <div v-on:click.capture="fun1">事件捕获(capture)</div>

            <!-- 只当在 event.target 是当前元素自身时触发处理函数 -->
            <!-- 即事件不是从内部元素触发的 -->
            <div v-on:click.self="fun1">只当在 event.target 是当前元素自身时触发处理函数</div>

            <!-- 只有在 `key` 是 `Enter` 时调用 `vm.submit()` -->
            <input v-on:keyup.enter="fun1" placeholder="键盘事件监听(keyup)">
        </div>
    </div>
</div>
<script>
    const vm = new Vue({
        data() {
            return {
                message: 'hello vue2',
                html: '<b>v-html绑定<b>',
                url: 'https://www.baidu.com/',
                isShow: true,
                value: {
                    text1: "测试1",
                    text2: "测试2"
                }
            }
        },
        methods: {
            fun1: function () {
                alert('hi...')
            },
            fun2: function (event, v) {
                console.log(event)
                alert(v)
            }
        }
    })
    vm.$mount('#app')
</script>
</body>
</html>
