<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue2 sample4 条件渲染</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <p>v-show：<span v-show="ok">hello v-show</span></p>
    <hr>
    <p>v-if：
        <span v-if="ok">hello v-if</span>
        <br>
        <template v-if="ok">
            <span>template title</span>
        </template>
    </p>
    <hr>
    <p>v-else：
        <span v-if="ok">hello v-if</span>
        <span v-else>hello  v-else</span>
    </p>
    <hr>
    <p>v-else-if：
        <span v-if="type===1">type 1</span>
        <span v-else-if="type===2">type 2</span>
        <span v-else-if="type===3">type 3</span>
        <span v-else>v-else</span>
    </p>
</div>
<script>
    const vm = new Vue({
        data() {
            return {
                ok: true,
                type: 1
            }
        },
        methods: {},
    })
    vm.$mount('#app')
</script>
</body>
</html>
